body{
	 background: url("../images/fondo2.jpg") no-repeat fixed;
	-webkit-background-size:cover;
}
.text{
	font-size: 200%;
	color: #fff;
	background:#6607A8;
	border:0;
}
.img{
	margin: auto;
	display: block;
	width:10%;
}
button{
	cursor: pointer;
	width: 40%;

}
.color1{
	color:#fff;
}
.img1{
	margin: auto;
	display: block;
	width: 100%;
}
