<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>pokedex</title>
	<link rel="stylesheet" href="../css/inicio1.css">
	<link rel="stylesheet" href="../lib/bomber/css/bootstrap.css">
</head>
<body>

	<div >
		<img src="../images/bienvenida.png" alt="" class="img">
	</br>
	</div>

	<div class="container">
		<div class="row ">
			<div class="col-md-12">
				<center>
				<button type="button" class="btn btn-primary"><a href ="registro1.html" class="color1"><h1>REGISTRARSE</h1></a></button>
			    </center></br>
			</div>
		</div>
	</div>

	<div >
		<img src="../images/masterball.png" alt="" class="img1">
	</br>
	</div>

	<div class="container">
		<div class="row ">
			<div class="col-md-12">
				<center>
				<button type="button" class="btn btn-primary"><a href ="registro2.html" class="color1"><h1>INICIAR</h1></a></button>
			    </center>
			</div>
		</div>
	</div>





	<script src="../lib/jquery.js"></script>
	<link rel="stylesheet" href="../lib/bomber/js/bootstrap.js">
	<script src="../lib/angular.js"></script>
</body>
</html>