<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>pokedex</title>
	<link rel="stylesheet" href="../css/registro2.css">
	<link rel="stylesheet" href="../lib/bomber/css/bootstrap.css">
</head>
<body>
		<div >
		<img src="../images/masterball.png" alt="" class="img"></br>
	
		</div>

		<div class="container">
			<div class="row ">
				<div class="col-md-12">
					
					<label for="nombre">Apodo:</label>
					<input type="TEXT" id="nombre" placeholder="escribe tu nombre" > <!--el "input" sirve para agregar algo  el "type" para ver de que tipo es y el "placeholder" para poner un texto adentro "size" ayuda al tamañano pero es mejor css el "maxlength" sirve para el numero de carcacteres  el "id" se utiliza para resivir "value" sirve para validar --></br></br></br>
				   
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row ">
				<div class="col-md-12">
					<label for="nombre">Contraseña:</label>
					<input type="text" id="contraseña" placeholder="contrseña" ></br></br>
				</div>
			</div>
		</div>
			
			<div>
			<center>
			<button type="button" class="btn btn-danger"><a href ="inicio2.html" class="color1"><h6>Iniciar</h6></a></button>
			</center></br>
			</div>

		<div >
			<img src="../images/img3.jpg" alt="" class="img1">
		</br>
		</div>

		

	<script src="../lib/jquery.js"></script>
	<link rel="stylesheet" href="../lib/bomber/js/bootstrap.js">
	<script src="../lib/angular.js"></script>
</body>
</html>