<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>pokedex</title>
	<link rel="stylesheet" href="../css/registro1.css">
	<link rel="stylesheet" href="../lib/bomber/css/bootstrap.css">
</head>
<body>
		
		<div>
			<img src="../images/img1.jpg" alt="" class="img"></br></br>
		</div>

		<form action="">

			<label for="nombre">Apodo:</label>
			<input type="TEXT" id="nombre" placeholder="escribe tu nombre" > <!--el "input" sirve para agregar algo  el "type" para ver de que tipo es y el "placeholder" para poner un texto adentro "size" ayuda al tamañano pero es mejor css el "maxlength" sirve para el numero de carcacteres  el "id" se utiliza para resivir "value" sirve para validar --></br></br></br>

			<label for="nombre">Edad:</label>
			<input type="NUMBER" id="edad" placeholder="pon tu edad" ></br></br></br>

			<label for="nombre">Email:</label>
			<input type="email" id="email" placeholder="Escribe tu email"> <!--sirve para ver si, si es un correo--></br></br></br>

			<label for="nombre">Contraseña:</label>
			<input type="text" id="contraseña" placeholder="contrseña" ></br></br>
			
			<center>
			<button type="button" class="btn btn-danger" ><a href="inicio2.html" class="color1"><h6>Enviar Datos</h6></a></button>
			</center>
		</form>
				
		<div>
			<img src="../images/bienvenida2.jpg" alt="" class="img">
		</div>


		
	

	<script src="../lib/jquery.js"></script>
	<link rel="stylesheet" href="../lib/bomber/js/bootstrap.js">
	<script src="../lib/angular.js"></script>
</body>
</html>